.Button {
  border-radius: 8px;
  border: none;

  font-size: xx-large;
  font-weight: 900;

  padding: 10px 15px;
  margin-bottom: 25px;
  margin-right: 25px;

  box-shadow: 15px 15px 25px grey;

  color: white;
  background-color: blue;
}
.Button:hover {
  box-shadow: 8px 8px 25px grey;
}
.primary {
  background-color: skyblue;
}
.danger {
  background-color: tomato;
}
.clicked{
      box-shadow: 5px 5px 25px grey !important;
      border:1px solid black
}